{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>This is the place where I do the blah-blah-blah.</p>

        <h1>Core idea</h1>

        <ol>
            <li>Complete, time-saving and helpful</li>
            <li>Up-to-date</li>
            <li>Free, transparent and fair</li>
            <li>Death-proof</li>
        </ol>

        <h2>Complete, time-saving, helpful</h2>
        <p>
            This website should contain as much information as possible: makers from all countries, of all styles,
            all possible features or anything related to fursuits and furry cosplay anyone could imagine.
        </p>
        <p>
            It should allow one to easily and quickly find the maker fitting their needs, without the necessity
            to browse for hours and go through multiple pages in general-purpose search engines.
        </p>

        <p>How can you help:</p>
        <ul>
            <li>Encourage your maker, and the ones you know, to join if they're missing
                or their data is outdated/incomplete</li>
            <li>Tell your fellow makers, if they're missing</li>
            <li>Post links on forums, social media, in chats</li>
            <li>Let the maintainer know about missing features you would find useful</li>
        </ul>

        <h2>Up-to-date</h2>
        <p>
            This website allows visitors to easily notify the maintainer about outdated information. Makers have
            easy way to post updates as well. getfursu.it is able to automatically track and update commissions status.
            In the future, it might be able to track and update base prices as well.
        </p>

        <p>How can you help:</p>
        <ul>
            <li>If you encounter outdated information, let the maker know, or request an update by yourself</li>
        </ul>

        <h2>Free, transparent and fair</h2>
        <p>
            If getfursu.it was a paid service, it wouldn't be as "Complete, time-saving and helpful" as it can be now.
            While the infrastructure costs and this website might get some advertisements/banners or a donation
            system in the future, no one should be ever required to pay to use it.
        </p>
        <p>
            Fursuit makers should not be charged for inclusion, no matter how big their studio is and how well it is
            doing. This would completely break the "Complete" and "Fair".
        </p>
        <p>
            There should be no way to boost a studio up the search results (no paid promotions). That would break
            the "Fair" and "Helpful". Visitor should see the stuff they're looking for, not the stuff someone paid
            to be promoted.
        </p>
        <p>
            The website's source code is free and available for everyone to verify and copy:
            https://github.com/veelkoov/fuzzrake . Its license, GNU Affero General Public License v3.0, guarantees
            that there will always be possibility for a free copy of such a fursuitmakers database to exist with
            all improvements anyone ever made to the code.
        </p>

        <h2>Death-proof</h2>
        <p>
            People tend to get tired. They may abandon their projects for many reasons. I can't guarantee I'll be here
            next year, or even month. No one knows the future.
        </p>
        <p>
            However, getfursu.it is open source. While the address - getfursu.it - will belong to me (dead or alive) for
            at least a year after I renew it (annual payment), everything else is available for anybody, anytime. The
            public Git repository (https://github.com/veelkoov/fuzzrake) contains both the source code and the
            latest data gathered. Anyone can take it and set up new, live copy of the service.
        </p>

        <p>How can you help:</p>
        <ul>
            <li>Provide feedback regarding features. To develop the software, I need advice on how to do it best</li>
            <li>I am fueled by seeing that the stuff I make is useful, and hugs</li>
            <li>If the website dies, and you know an IT folk, encourage them to take the project over</li>
        </ul>
    </div>
{% endblock %}
